.containerError {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2em;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 1.5em;
}

@keyframes temblar {
    0% {transform: rotate(2deg);}
    100% {transform: rotate(-2deg);}
}
.imagen-perro{
    animation: alternate;
    animation-duration: 0.1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: temblar;
}

button {
  background-color: #69d191;
  padding: 10px 20px;
  font-size: large;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}
